{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checking for Fraudster's</title>
    <link href="{% static 'css/form_style.css' %}" rel="stylesheet">


</head>
<body>
    <header>
      <div class="header-content">
        <h1>Healthcare Fraud Detection App</h1>
        <p>Check if a healthcare claim is fraudulent using machine learning</p>
      </div>
    </header>

    <main>
        {% if result %}
          <div class="result-container">
            <h2>Result</h2>
            {% if result == "Fraud" %}
              <!-- <p class="fraudulent">{{ result }}</p> -->
              <p class="result-p">Class you're trying to classify is</p>
              <p class="not-fraudulent">Fraudulent</p>
            {% else %}
                <p class="result-p">Class you're trying to classify is</p>
                <p class="not-fraudulent">Not Fraudulent</p>
            {% endif %}
          </div>
        {% endif %}
      <form action="" method="POST">
        {% csrf_token %}
        <label for="input1">Number of Services:</label>
        <input type="number" name="input1" id="input1" required>

        <label for="input2">Number of Medicare Beneficiaries:</label>
        <input type="number" name="input2" id="input2" required>

        <label for="input3">Number of Distinct Medicare Beneficiary Per Day Services:</label>
        <input type="number" name="input3" id="input3" required>

        <label for="input4">Average Medicare Allowed Amount:</label>
        <input type="number" name="input4" id="input4" required>

        <label for="input5">Average Submitted Charge Amount:</label>
        <input type="number" name="input5" id="input5" required>

        <label for="input6">Average Medicare Payment Amount:</label>
        <input type="number" name="input6" id="input6" required>

        <label for="input7">Average Medicare Standardized Amount:</label>
        <input type="number" name="input7" id="input7" required>

        <input type="submit" value="Check">
      </form>

    </main>
</body>
</html>
